@import "colors.css";
@import "accents.css";

@define-color modulebg #2b2b2b;
@define-color text #ffffff;
@define-color base #090909;

* {
  font-family: JetBrainsMono;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base, 0.85);
  color: @text;
}

#clock,
#upower,
#workspaces,
#workspaces button,
#custom-mediaplayer,
#tray,
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes,
#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#custom-power-menu {
  background: alpha(@modulebg, 0.8);
  color: @text;
  border-radius: 8px;
  border: 1px solid alpha(@text, 0.2);
  padding: 0px 8px;
  margin: 4px 0px;
}

/**
 * apply common colors like accent and 'critical' color
**/
#upower.charging,
#workspaces button.focused,
#bluetooth.connected {
  background: @accent_color;
  color: @accent_fg_color;
}

/**
 * apply only accented text
**/
#cpu,
#memory {
  color: @accent_color;
}

/**
 * Inverted accent colors (light text, dark background) 
 */
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes {
  background: @accent_fg_color;
  color: @accent_color;
}

/**
 * Things that require attention, error color:
 */
#workspaces button.urgent,
#temperature.critical,
#cpu.critical,
#memory.critical,
#pulseaudio.muted,
#upower.empty,
#network.disabled,
#network.disconnected {
  background: #ea0000;
  color: white;
}

/**
 * modules-left
**/
#custom-power-menu {
  margin-left: 12px;
}

#workspaces button {
  margin: 0;
  border: none;
}

#workspaces {
  padding: 0;
}

/**
 * modules-right
**/
#window {
  font-size: 12px;
}

#network {
  margin-right: 12px;
}
