@import "colors.css";

@define-color text @theme_text_color;
@define-color accent_color #006ddb;
@define-color highlight shade(@theme_base_color, 1.8);

* {
  font-family: JetBrainsMono, SymbolsNerdFontMono, FontAwesome6Free;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base, 0.9);
  color: @text;
}

#clock,
#upower,
#workspaces,
#workspaces button,
#custom-mediaplayer,
#tray,
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes,
#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#custom-power-menu {
  color: @text;
  border-radius: 8px;
  padding: 0px 8px;
  margin: 3px 0px;
}

/**
 * apply lighter background for *selected* things
**/
#workspaces button.focused {
  background: @highlight;
  color: @text;
}

/**
 * apply lighter text
**/
#cpu,
#memory,
#workspaces button {
  color: alpha(@text, 0.8);
}

/**
 * Accent color background
 */
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes {
  background: @accent_color;
  color: #ffffff;
}

/**
 * Things that require attention, error color:
 */
#upower.empty,
#workspaces button.urgent,
#temperature.critical,
#cpu.critical,
#memory.critical,
#bluetooth.off,
#network.disabled,
#network.disconnected {
  background: #ea0000;
  color: white;
}

/**
 * Things with background
 */
#upower.charging,
#workspaces,
#tray,
#bluetooth.connected {
  background: @modulebg;
}

/**
 * modules-left
**/
#custom-power-menu {
  margin-left: 12px;
}

#workspaces button {
  margin: 0;
  border: none;
  padding: 0px 8px;
}

#workspaces {
  padding: 0;
}

/**
 * modules-right
**/
#network {
  margin-right: 12px;
}
