@import "colors.css";

@define-color text @theme_text_color;

* {
  font-family: JetBrainsMono, SymbolsNerdFontMono, FontAwesome6Free;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base, 0.9);
  color: @text;
}

#clock,
#upower,
#workspaces,
#workspaces button,
#custom-mediaplayer,
#tray,
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes,
#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#custom-power-menu {
  color: @text;
  border-radius: 8px;
  padding: 0px 8px;
  margin: 3px 0px;
}

/**
 * apply common colors like accent and 'critical' color
**/
#upower.charging,
#workspaces button.focused,
#bluetooth.connected {
  background: @accent_color;
  color: @accent_fg_color;
}

/**
 * apply only accented text
**/
#cpu,
#memory {
  color: @accent_color;
}

/**
 * Inverted accent colors (light text, dark background) 
 */
#custom-camera.on,
#custom-screenshare.on,
#custom-microphone.on,
#custom-inhibit-check.yes {
  background: @accent_fg_color;
  color: @accent_color;
}

/**
 * Things that require attention, error color:
 */
#upower.empty,
#workspaces button.urgent,
#temperature.critical,
#cpu.critical,
#memory.critical,
#bluetooth.off,
#network.disabled,
#network.disconnected {
  background: #ea0000;
  color: white;
}

/**
 * Things with background
 */
#workspaces,
#tray {
  background: alpha(@modulebg, 0.75);
}

/**
 * modules-left
**/
#custom-power-menu {
  margin-left: 12px;
}

#workspaces button {
  margin: 0;
  border: none;
  padding: 0px 8px;
}

#workspaces {
  padding: 0;
}

/**
 * modules-right
**/
#network {
  margin-right: 12px;
}
