**/dhat-heap.json
**/.DS_Store

# auto-genned symlinks
**/colors.*

# state files
configs/lazygit/state.yml

configs/ags/README.md
configs/easyeffects/*
!configs/easyeffects/output/marcysfwpreset.json
