**/dhat-heap.json
**/.DS_Store
**/donotpush

# auto-genned symlinks
**/colors.*

# state files
configs/lazygit/state.yml

# any configuration should be in .zdots instead
home/.zshrc

# only keep my preset
configs/easyeffects/
!configs/easyeffects/output/marcysfwpreset.json
