**/dhat-heap.json
**/.DS_Store
**/donotpush

# auto-genned symlinks
**/colors.*

# state files
configs/lazygit/state.yml

# output of nwg-displays
configs/sway/outputs
configs/sway/workspaces

configs/easyeffects/
!configs/easyeffects/output/marcysfwpreset.json
