* {
  all: unset;
  background-image: none;
  transition: all 100ms ease-out;
}

window {
  background-color: rgba(0, 0, 0, 0.9);
}

button {
  color: #ffffff;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button {
  margin: 4px;
  border-radius: 6px;
}

button:active,
button:hover {
  background-color: #3b3b3b;
}

#shutdown:hover {
  background-color: @error_color;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
