* {
  all: unset;
  background-image: none;
  font-family: JetBrainsMono;
}

window {
  background-color: rgba(0, 0, 0, 0.9);
}

button {
  color: #ffffff;
  background-color: #0b0b0b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button {
  margin: 4px;
}

button:active,
button:hover {
  background-color: #2b2b2b;
}

#shutdown:hover {
  background-color: #af3f2f;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
