$text-color: #ffffff;
$accent-color: #285577;
$shadow-color: #0b0b0b;

$bg50-color: #131313;
$bg100-color: #1b1b1b;
$bg150-color: #212121;
$bg200-color: #2b2b2b;
$bg300-color: #343434;
$bg400-color: #4b4b4b;
$bg500-color: #4f4f4f;
