$text-color: #000000;
$accent-color: #326732;
$shadow-color: #0b0b0b;

$bg50-color: #f6f6f6;
$bg100-color: #ffffff;
$bg150-color: #efefef;
$bg200-color: #e6e6e6;
$bg300-color: #cfcfcf;
$bg400-color: #c6c6c6;
$bg500-color: #bfbfbf;
