window, #input, #outer-box {
  padding: 8px;
}

window, #outer-box {
  background-color: @theme_bg_color;
  border-radius: 16px;
}

#input {
  border-radius: 10px;
}

#outer-box {
  border: 2px solid @borders;
}

