/** some raw matugen colors */
@define-color outline @{outline};
@define-color outline_variant @{outline_variant};

/** GTK defined colors */
@define-color accent_bg_color @{primary};
@define-color accent_fg_color @{on_primary};
@define-color accent_color @{primary};

/** other stuff */
tooltip {
  background: @theme_base_color;
  border: 2px solid @{primary};
}

tooltip label {
  text-shadow: none;
  color: @theme_text_color;
}

