.bar {
  @include txt-lg;
  @include txt-monospace;
  background: transparentize($bg100-color, 0.05);
}

.section {
  margin: 0px 6px;
}

.module,
.module button {
  &:hover {
    background: transparentize($bg500-color, 0.5);
  }

  @include rounded-lg;
  padding: 2px 8px;
  margin: 3px 2px;
}

/** Buttons in containers */
.workspaces button {
  &.active {
    background: $bg400-color;
  }
  &.urgent {
    background: #ca2620;
  }

  padding: 0px 12px;
  margin: 0;
}

.tray button {
  margin-top: 0;
  margin-bottom: 0;
}

/** Modules with background */
.workspaces,
.battery-charging {
  background: transparentize($module-color, 0.6);
}

/** Accent-colored background */
.idleinhibitor-true {
  background: #006ddb;
}

/** Fixing margins/sizing */
.powermenu {
  @include txt-base;
}

.container {
  padding: 0;
}

.mediaplayer label,
.battery label,
.volume:not(.muted) label {
  margin-left: 8px;
}

/** Things with lighter text */
.idleinhibitor-false,
.volume.muted {
  color: transparentize($text-color, 0.4);
}
