.bar {
  /** hard-coded bar colors */
  $text-color: #ffffff;

  $bg50-color: #131313;
  $bg300-color: #3b3b3b;
  $bg400-color: #4b4b4b;
  $bg500-color: #4f4f4f;

  font-weight: 500;
  background: transparentize($bg50-color, 0.05);
  color: transparentize($text-color, 0.1);

  .module,
  .module button {
    &:hover {
      background: transparentize($bg400-color, 0.5);
    }

    @include rounded-lg;
    padding: 3px 10px;
    margin: 3px 0px;
  }

  /** give more padding to edges of screen */
  .powerbutton {
    padding-left: 12px;
  }

  .clock {
    padding-right: 12px;
  }

  /** modules in order */
  .workspaces {
    @include rounded-lg;
    background: transparentize($bg300-color, 0.5);
    margin: 2px 0px;

    button {
      &.active {
        background: $bg500-color;
      }
      &.urgent {
        background: #ca2620;
      }

      padding: 0px 14px;
      margin: 0;
    }
  }

  .tray button {
    margin-top: 0;
    margin-bottom: 0;
  }

  .clock .dnd-active {
    @include rounded-sm;
    background: #9f59e8;
    padding: 2px 4px;
    margin-right: 8px;
  }

  /** Fixing margins/sizing */
  .container {
    padding: 0;
  }

  /** Things with lighter text */
  .volume.muted,
  .bluetooth .off,
  .network .none {
    color: transparentize($text-color, 0.4);
  }
}
