.medialist {
  @include popup;

  .list {
    padding: 10px;
  }

  .card {
    background: $bg200-color;
    padding: 8px;
    box-shadow: 0px 0px 2px transparentize($shadow-color, 0.4);

    &:focus {
      background: transparentize($bg400-color, 0.2);
    }

    min-width: 30rem;
  }

  .img {
    @include rounded-md;
    min-width: 6.5rem;
    min-height: 6.5rem;
    margin-right: 12px;

    background-color: transparentize($bg150-color, 0.3);
    background-size: cover;
    background-position: center;
  }

  .title {
    @include txt-lg;
    font-weight: bold;
    margin: 2px 0;
  }

  .playing-on {
    @include rounded-lg;
    background: transparentize($bg150-color, 0.3);
    font-style: italic;
    padding: 2px 8px;
  }

  .prev,
  .play-pause,
  .next {
    @include rounded-md;
    padding: 12px;
    margin: 0 2px;

    &:hover,
    &:active {
      background: transparentize($text-color, 0.92);
    }
  }

  .position,
  .length,
  .playing-on {
    color: transparentize($text-color, 0.4);
  }

  .length {
    margin: 0px 4px;
  }
}
