/** Rounding amounts */
@mixin rounded-sm {
  border-radius: 0.25rem;
}

@mixin rounded-md {
  border-radius: 0.5rem;
}

@mixin rounded-lg {
  border-radius: 0.75rem;
}

/** Text sizes and styles */
@mixin txt-base {
  font-size: 1rem;
}

@mixin txt-lg {
  font-size: 1.15rem;
}

@mixin txt-monospace {
  font-family: JetBrainsMono;
}

/** other mixins */
@mixin popup {
  background: $bg150-color;
  border: 1px solid $bg300-color;
}
